
/*banner*/
header{
    width: 100%;
    background-color: rgb(141, 12, 12); 
}
.header{
    
    display: flex;
    justify-content: space-between;
    margin: 1.5% 5%;
    padding: 2%;
}


a.headertitle{
    font-family: 'Langar', cursive;
    font-size: 3.6em;
    color: white;
    text-shadow: black 1px 0 10px;
    text-decoration: none;
}

div.logo{
    transition: .3s;
}

div.logo:hover{
    color:black;

}

header div:last-child{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


header nav{
    display: flex;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    margin: 0 35px;
    font-size: 1.6rem;
    color: white;
    text-shadow: black 1px 0 10px;
    transition: .3s;
}

header nav a:hover {
color:black;
font-size:1.8rem;
}

div.logo img{
    width: 30%;
    height: auto;
    padding: 10%;
}

/*Carousel*/
section#carousel > figure > img{
    display: none;
    margin: 0px auto;
}

section#carousel > figure.visible > img{
    display: block;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 500px;
}

section#carousel > figure > figcaption{
    display: none;
}

section#carousel > figure.visible > figcaption{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

img{
    width: 100%;
    height: 600px;

}

.carousel{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h3{
    display: center;
    color:red;
}

h1{
    margin:50px;
}

/**/
.offer-container {
    width: 400px;
    margin: 50px auto;
    background-color: lightsteelblue;
}

@media only screen and (min-width: 992px) {
    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .offer-container {
        margin-left: 0;
        margin-right: 0;
    }
}
